/* html {
background-color: black;
}
p{
    font-family: cursive;
    
} */
.page-footer{
    /* background-color:#1a252f; */
    background-color: #2c3e50!important;

    color: #fff;
    font-size: 80%;
 }
 /* Three image containers (use 25% for four, and 50% for two, etc) */
.column {
    margin-top: 100px;
    float: left;
    width: 50%;
    padding: 5px;
  }
  
  /* Clear floats after image containers */
  .row::after {
    content: "";
    clear: both;
    display: table;
  }