/* html {
  overflow:   scroll;

} */

* {
  font-family: Raleway;
}

::-webkit-scrollbar {
    width: 0px;
    background: transparent; /* make scrollbar transparent */
}

.page-footer{
    background-color: #2c3e50!important;
    color: #fff;
    font-size: 80%;
 }

 /* Style the button and place it in the middle of the container/image */
.home-img {
  position: relative;
  top: 50%;
  color: white;
  cursor: pointer;
  
  font-size: 2em;
  font-weight: 600;
} 


#btn-in {
  background-color: rgba(155, 221, 79, .9);
  /* left: 0; */
  border-radius: 5px 0 0 5px;
  border: 2px solid;
  border-color: rgba(255,255,255,0.75)
}

#btn-out {
  background-color: rgba(155, 221, 79, .9);
  /* right: 0; */
  border-radius: 0 5px 5px 0;
  border: 2px solid;
  border-color: rgba(255,255,255,0.75)
}

.btn:hover {
  opacity: 0.85;
<<<<<<< HEAD
} 
=======
}  


body {
  background-color: #c2bdbd;
}


.row {
  margin-left: 0!important;
  margin-right: 0!important;
}
 
>>>>>>> fd1fe20911fb5034f0068ef2c1a0d0740f4e0b9a
